#initially-hidden {
  display: none;
}

#initially-hidden-fade {
  display: none;
}


#initially-hidden-slide {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.clickable-fade {
  cursor: pointer;
  color: #0088cc;
}

.clickable-fade:hover {
  text-decoration: underline;
}

.clickable-slide {
  cursor: pointer;
  color: #0088cc;
}

.clickable-slide:hover {
  text-decoration: underline;
}

.container {
  margin-bottom: 30px;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.black-background {
  background-color: black;
}

.text-white {
  color: white;
}
